Case Study-Titan Insurance Company-

The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.

Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. X's output for the month is the total of these sums assured, £61,500. Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company, but they are looking for sales increases which more than compensate. The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.

The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.<br>

To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are shown in Table 1

 
<u>Questions</u>

1) Find the mean of old scheme and new scheme column. (5 points)<br>
2) Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)<br>
3) What conclusion does the test (p-value) lead to? (2.5 points)<br>
4) Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:<br>
5) The probability of a type 1 error? (2.5 points)<br>
6) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)<br>
7) Power of the test (5 points)

In [40]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro, bartlett, wilcoxon, ttest_rel
from statsmodels.stats.power import ttest_power

In [41]:
sales=pd.DataFrame(data=([[1,57,62],[2,103,122],[3,59,54],
                          [4,75,82],[5,84,84],[6,73,86],
                          [7,35,32],[8,110,104],[9,44,38],
                          [10,82,107],[11,67,84],[12,64,85],
                          [13,78,99],[14,53,39],[15,41,34],
                          [16,39,58],[17,80,73],[18,87,53],
                          [19,73,66],[20,65,78],[21,28,41],
                          [22,62,71],[23,49,38],[24,84,95],
                          [25,63,81],[26,77,58],[27,67,75],
                          [28,101,94],[29,91,100],[30,50,68]]),
                   columns=('SALESPERSON','Old Scheme (in thousands)','New Scheme (in thousands)'))
sales.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [42]:
sales['old_sales']=sales['Old Scheme (in thousands)']*1000
sales['new_sales']=sales['New Scheme (in thousands)']*1000
sales.head()

,SALESPERSON,Old Scheme (in thousands),New Scheme (in thousands),old_sales,new_sales
0,1,57,62,57000,62000
1,2,103,122,103000,122000
2,3,59,54,59000,54000
3,4,75,82,75000,82000
4,5,84,84,84000,84000

In [43]:
print('Mean of Old Scheme is:',sales['old_sales'].mean())
print('Mean of New Scheme is:',sales['new_sales'].mean())

Mean of Old Scheme is: 68033.33333333333
Mean of New Scheme is: 72033.33333333333

In [44]:
Old_sales = sales['old_sales'].values
New_sales = sales['new_sales'].values

In [45]:
# checking Normality distribution of each distribution
# Null Hypothesis: Distribution is Normal
print(shapiro(Old_sales))
print(shapiro(New_sales))
print('The test found that both the data is normal,that means failing to reject the null hypothesis at a 95% Confidence level.')

(0.9885101914405823, 0.9813658595085144)
(0.9687567353248596, 0.5057420134544373)
The test found that both the data is normal,that means failing to reject the null hypothesis at a 95% Confidence level.

In [46]:
#checking equality of variance between groups
# Null Hypothesis: Variances are equal
levene(Old_sales,New_sales)

LeveneResult(statistic=1.063061539437245, pvalue=0.30679836081811235)

In [47]:
#This project is #Two sample with paired sample test
#Parametric:1sampletest
t_statistic, p_value = ttest_1samp(New_sales - Old_sales,0 )
print(t_statistic, p_value)

1.5559143823544377 0.13057553961337662

In [48]:
t_statistic, p_value = ttest_rel(New_sales,Old_sales)
print(t_statistic, p_value)

1.5559143823544377 0.13057553961337662

In [49]:
#Null Hypothesis is not rejected, thus the new scheme does not significantly raised compaired to old scheme

In [50]:
t_statistic, p_value = ttest_1samp(New_sales-((sales['old_sales'].mean())+5000),0)
print(t_statistic,p_value)

-0.2276259527435408 0.8215342661375453

In [39]:
x=(np.mean(New_sales) - ((sales['old_sales'].mean())+5000)) / np.std(New_sales)
print(ttest_power(x, nobs=30, alpha=0.05, alternative='larger'))
x

0.03066951315752864

-0.04226907827258564

In [51]:
t_statistic, p_value = ttest_rel(New_sales,((sales['old_sales'].mean())+5000))
print(t_statistic,p_value)

ValueError: unequal length arrays